* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*body {*/
	/*background: #2d2c41;*/
	/*font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;*/
/*}*/

ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

 .accordion {
 	width: 95%;
    max-width: 1500px;
 	margin: 30px auto 20px 40px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 15px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*body {*/
	/*font-family: 'microsoft yahei';*/
	/*overflow: hidden;*/
	/*background: #fff;*/
/*}*/

.w {
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: inherit;
}

a, li {
	list-style: none;
}

.cf:before, .cf:after, .clearfix:before, .clearfix:after {
	content: "";
	display: table;

}

.cf:after, .clearfix:after {
	clear: both;
}

.cf, .clearfix {
	clear: both;
	*zoom: 1;
}

/*导航条*/
#nav {
	width: 100%;
	min-width: 1200px;
	height: 30px;
	background: #00a1ea;
	margin-top: 20px;
}

#nav ul li {
	float: left;
}

#nav ul li:first-child {
	margin-left: 17%;
	margin-top: 0px
}

#nav ul li  {
	font-size: 16px;
	color: #fff;
	line-height: 30px;
	padding: 0 35px;
	display: inline-block;
	margin-top: 0px
}

#nav ul li:hover {
	background: #fff000;
	color: #00a1ea;
	margin-top: 0px
}

#nav ul li.active  {
	background: #fff000;
	color: #00a1ea;
	margin-top: 0px
}

/*banner上面浮层*/
.cat_wrap {
	box-shadow: 1px 1px 2px #bfbcbc;
	box-shadow: 0 -4px 8px 0 rgba(7, 17, 27, .1), 0 4px 8px 0 rgba(7, 17, 27, .1);
	background: #fff;
	width: 280px;
	position: absolute;
	z-index: 999;
	top: -90px;
}
#show_page{
	height:inherit !important;
    overflow:hidden;
}
#right_page{
    overflow:auto;
}
.cat_wrap .cat_title {
	width: 297px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	background: url(../i/juxing.png) no-repeat;
	margin-left: -6px;
	margin-top: -15px;
	background-size: 100%;
	color: #fff;
	text-align: center;
}

.cat_wrap .cat_header {
	min-height: 450px;
}

.cat_wrap .cat_list div {
	background: #fff;
	border-left: 3px solid transparent;
}

.cat_wrap .cat_list div li {
	float: left;
	color: #323232;
	font-size: 14px;
	margin: 7px 0px;
}
.cat_wrap .clearfix li {
	float: left;
	color: #323232;
	font-size: 14px;
	margin: 7px 0px;
}

.cat_wrap .cat_list div li:first-child {
	margin-left: 15px;
	margin-right: 10px;
}

.cat_wrap .cat_list {
	cursor: pointer;
}

.cat_wrap .cat_list div.active {
	width: 280px;
	padding-left: 1px;
	position: relative;
	z-index: 999;
	border-left: 3px solid #00a1ea;
	border-top: 1px solid #00a1ea;
	border-bottom: 1px solid #00a1ea;
	border-right: 3px solid #ffffff;
}

/*banner浮层滑动显示弹框*/
.cat_subcont {
	display: none;
}

.cat_subcont.active {
	display: block;
}

.cat_subcont .cat_sublist {
	position: absolute;
	z-index: 998;
	top: 30px;
	left: 278px;
	padding-top: 5px;
	min-height: 394px;
	width: 740px;
	background: #fff;
	border-top: 1px solid #f9f9f9;
	border-left: 1px solid #00a1ea;
	border-bottom: 1px solid #00a1ea;
	border-right: 1px solid #00a1ea;
}

.cat_subcont .cat_sublist .fore1 {
	width: 740px;
}

.cat_subcont .cat_sublist .fore1 .fore_list {
	padding: 0 20px;
}

.cat_subcont .cat_sublist .fore1 .fore_list h3 {
	padding: 5px;
	border-bottom: 1px solid #d3d3d3;
}
.cat_subcont .cat_sublist .fore1 .fore_list input {
	padding: 5px;
	border-bottom: 1px solid #d3d3d3;
}

.cat_subcont .cat_sublist .fore1 .fore_list h3 a {
	font-size: 14px;
	color: #00a1ea;
}

.cat_subcont .cat_sublist .fore1 .fore_list li {
	float: left;
	padding: 5px;
}
.cat_subcont .cat_sublist .fore1 .fore_list li a {
	font-size: 12px;
	color: #333;
}

.cat_subcont .cat_sublist .fore1 .fore_list li a:hover {
	color: #00a1ea;
	text-decoration: underline;
}

#search_btn {
	margin-left: 20px;
	width: 80%;
	height: 30px;
	background-color: #00a1ea;
	border-color: #f8f8f8;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #ffffff;
}

#left_page {
	width: 23%;
	height: inherit;
	float: left;
	margin: 40 0 0 0;
	border: #6da4e814;
	/*当文字超出容器，自动换行*/
	display: block;
	word-break: break-all;
	word-wrap: break-word;
}

#right_page {
	width: 77%;
	height: inherit;
	float: right;
}

.cat_header  #name_clearfix{
	margin-left: 18px;
}
