<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HuaWeiDemoWeb</title>
</head>
<body>

<!--<script id="class_releated_concept_script" type="text/x-jquery-tmpl">-->
   <!--<dd><a target="_blank" href="${url}" >${name}</a></dd>-->

<!--</script>-->
<!--<script id="class_see_also_script" type="text/x-jquery-tmpl">-->
   <!--<dd><a onclick="get_class_kg_id_by_kg_id(${kg_id})" target="_blank" title=${api_name}>${simple_api_name}</a></dd>-->

<!--</script>-->

<script id="method_search_script" type="text/x-jquery-tmpl">
     <ul class="blockList">
       <li class="blockList" >
           <ur>${project_name}</ur><br/>
           <ur>&nbsp&nbsp&nbsp&nbsp&nbsp${package_name}</ur><br/>
           <ur>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp${method_name}</ur><br/>
           <dl>
              {{if concepts.length >= 1}}
                 <dt><span class="seeLabel">concepts:</span>
                 <dd>
                 {{each(j,group) concepts}}
                    <a href="${group.url}" target="_blank">${group.name}</a>
                 {{/each}}
                 </dd>
              {{else}}
              {{/if}}
              {{if clone_method.length >= 1}}
                 <dt><span class="seeLabel">clone method:</span>
                 {{each(j,group) clone_method}}
                    <dd>${group.method_name}</dd>
                 {{/each}}
              {{else}}
              {{/if}}
           </dl>
        </li>
    </ul>
</script>
<script id="issue_search_script" type="text/x-jquery-tmpl">
        <ul class="blockList">
            <li class="blockList">
                <div class="block">${issue_tittle}</div>
                <div class="block">${issue_body}</div>
                <dl>
                {{if concepts.length >= 1}}
                    <dt><span class="seeLabel">concepts:</span>
                    <dd>
                    {{each(j,group) concepts}}
                       <a href="${group.url}" target="_blank">${group.name}</a>
                    {{/each}}
                    </dd>
                {{else}}
                {{/if}}
                {{if related_commit.length >= 1}}
                    <dt><span class="seeLabel">related commit:</span>
                    {{each(j,group) related_commit}}
                    <dd>${group.developer}:${group.commit_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if related_issue.length >= 1}}
                    <dt><span class="seeLabel">related issue:</span>
                    {{each(j,group) related_issue}}
                    <dd>${group.issue_tittle}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                </dl>
            </li>
         </ul>
</script>
<script id="developer_search_script" type="text/x-jquery-tmpl">
    <ul class="blockList">
            <li class="blockList">
                <div class="block">${developer_name}</div>
                <dl>
                {{if professional.length >= 1}}
                    <dt><span class="seeLabel">professional:</span>
                    <dd>
                    {{each(j,group) professional}}
                       <a href="${group.url}" target="_blank">${group.name}</a>
                    {{/each}}
                    </dd>
                {{else}}
                {{/if}}
                {{if projects.length >= 1}}
                    <dt><span class="seeLabel">projects:</span>
                    {{each(j,group) projects}}
                    <dd>${group.pro_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if issues.length >= 1}}
                    <dt><span class="seeLabel">issues:</span>
                    {{each(j,group) issues}}
                    <dd>${group.issue_tittle}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                </dl>
            </li>
         </ul>
</script>

<!--<script id="method_detail_script" type="text/x-jquery-tmpl">-->
    <!--<ul class="blockList">-->
       <!--<li class="blockList" >-->
       <!--<h2>${method_name}</h2>-->
        <!--<ul class="blockList">-->
            <!--<li class="blockList">-->
                <!--<pre>${declaration}</pre>-->
                <!--<div class="block">${class_define}</div>-->
                <!--<dl>-->
                    <!--{{if method_descriptions_list.length >= 1}}-->
                       <!--{{each(j,group) method_descriptions_list}}-->
                         <!--{{if group.method_description_from_comment}}-->
                            <!--<dd>${group.method_description_from_comment}</dd>-->
                         <!--{{else}}-->
                            <!--{{if group.short_description}}-->
                            <!--<dd>${group.short_description}</dd>-->
                            <!--{{else}}-->
                               <!--{{if group.poi_human_description}}-->
                               <!--<dd>${group.poi_human_description}</dd>-->
                               <!--{{else}}-->
                                  <!--{{if group.poi_rule_description}}-->
                                  <!--<dd>${group.poi_rule_description}</dd>-->
                                  <!--{{else}}-->
                                     <!--{{if group.poi_deep_learning_description}}-->
                                     <!--<dd>${group.poi_deep_learning_description}</dd>-->
                                     <!--{{else}}-->
                                     <!--{{/if}}-->
                                  <!--{{/if}}-->
                               <!--{{/if}}-->
                            <!--{{/if}}-->
                         <!--{{/if}}-->
                       <!--{{/each}}-->
                    <!--{{else}}-->
                    <!--{{/if}}-->
                    <!--<dt><span class="returnLabel">Returns:</span></dt>-->
                    <!--<dd>${return_type}</dd>-->
                    <!--{{if related_concept.length >= 1}}-->
                       <!--<dt><span class="seeLabel">Releated Concept:</span></dt>-->
                       <!--{{each(j,group) related_concept}}-->
                         <!--<dd><a href="${group.url}" target="_blank" >${group.name}</a></dd>-->
                       <!--{{/each}}-->
                    <!--{{else}}-->
                    <!--{{/if}}-->
                    <!--<dt><span class="seeLabel">See Also:</span></dt>-->
                    <!--{{if see_also.length >= 1}}-->
                       <!--{{each(j,group) see_also}}-->
                         <!--<dd><a onclick="get_class_kg_id_by_kg_id(${group.kg_id})" target="_blank" title=${group.api_name}>${group.simple_api_name}</a></dd>-->
                       <!--{{/each}}-->
                    <!--{{else}}-->
                        <!--<dd>null</dd>-->
                    <!--{{/if}}-->
                <!--</dl>-->
                <!--<div class="click_show_detail" id=${method_kg_id}  onclick="click_for_more_details(this,this.children,${method_kg_id})">Click For More Details-->
                <!--<div class="show_detail" id="method_functional${method_kg_id}" style="display:none text-decoration:none">-->
                <!--</div>-->
                <!--<div class="show_detail" id="methoddirective${method_kg_id}" style="display:none text-decoration:none">-->
                <!--</div>-->
                <!--<div class="show_detail" id="method_post${method_kg_id}" style="display:none text-decoration:none">-->
                <!--</div>-->
                <!--<div class="show_detail" id="method_sample_code${method_kg_id}" style="display:none text-decoration:none">-->
                <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->

<!--</script>-->

<div class="main-title">
    <div class="text-center">HuaWeiDemo</div>
    <div class="input-jump center-block">
        <div class="col-lg">
            <div class="input-group">
                <span class="input-group-btn">
                    <select class="btn btn-primary" id="search_type">
                    <option value="1" selected>Method</option>
                    <option value="2">Issue</option>
                    <option value="3">Developer</option>
                    </select>
                </span>
                <input type="text" autocomplete="on" class="form-control" onkeydown="keyup_submit(event)"
                       placeholder="enter fully qualified class name...">
                <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="bt1" onclick="jumpClick()">SEARCH
                        </button>
                </span>

            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
</div>

<div class="showGroup" style="display: none">
    <!--<div id="labelProperty">-->
        <!--<div id="labelList">-->
        <!--</div>-->
    <!--</div>-->
    <div id="searchresult" >
    </div>

    <div id="Graph">
        <div id="GraphContainer">
        </div>
    </div>
</div>

</body>
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/main_page.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/neo4jd3.css">
<!-- <link rel="stylesheet" type="text/css" href="css/fonts/dejavu.css"> -->
<script src="js/generateRandomColor.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/jquery.tmplPlus.js"></script>
<script src="js/jquery.tmplPlus.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/neo4jGraph.js"></script>
<script src="js/flowPanel.js"></script>
<script src="js/main_page.js"></script>
</html>