<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BigGraphSearch</title>
</head>
<body>
<!--场景一method_search模板-->
<script id="method_search_script" type="text/x-jquery-tmpl">
     <ul class="blockList">
       <li class="blockList" >
        <ul class="blockList">
         <li class="blockList" >
           <ur>${project_name}</ur><br/>
           <ur>&nbsp&nbsp&nbsp&nbsp&nbsp${package_name}</ur><br/>
           <ur>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp${method_name}</ur><br/>
           <dl>
              {{if concepts.length >= 1}}
                 <dt><span class="seeLabel">concepts:</span>
                 <dd>
                 {{each(j,group) concepts}}
                 <dd>${group.name}</dd>
                 {{/each}}
                 </dd>
              {{else}}
              {{/if}}
              {{if clone_methods.length >= 1}}
                 <dt><span class="seeLabel">clone methods:</span>
                 {{each(j,group) clone_methods}}
                    <dd>${group.method_name}</dd>
                 {{/each}}
              {{else}}
              {{/if}}
           </dl>
         </li>
        </ul>
      </li>
    </ul>
</script>
<!--场景二issue_search模板-->
<script id="issue_search_script" type="text/x-jquery-tmpl">
        <ul class="blockList">
            <li class="blockList">
                <ul class="blockList">
                <li class="blockList">
                <dt><span class="seeLabel">${issue_tittle}</span></dt>
                {{if reporter.length >= 1}}
                    <dt><span class="seeLabel">reporter:</span>
                    {{each(j,group) reporter}}
                       ${group.reporter_name}
                    {{/each}}
                    </dt>
                {{else}}
                {{/if}}
                {{if solver.length >= 1}}
                     <dt><span class="seeLabel">solver:</span>
                    {{each(j,group) solver}}
                       <dd>${group.solver_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                <dd>${issue_body}</dd>
                <dl>
                {{if concepts.length >= 1}}
                    <dt><span class="seeLabel">concepts:</span>
                    {{each(j,group) concepts}}
                       <dd>${group.concept_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if related_project.length >= 1}}
                    <dt><span class="seeLabel">related project:</span>
                    {{each(j,group) related_project}}
                    <dd>${group.project_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if related_issue.length >= 1}}
                    <dt><span class="seeLabel">related issue:</span>
                    {{each(j,group) related_issue}}
                    <dd>${group.issue_tittle}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                </dl>
            </li>
         </ul>
        </li>
      </ul>
</script>
<!--场景三developer_search模板-->
<script id="developer_search_script" type="text/x-jquery-tmpl">
    <ul class="blockList">
            <li class="blockList">
            <ul class="blockList">
            <li class="blockList">
                <div class="block">${developer_name}</div>
                <dl>
                {{if projects.length >= 1}}
                    <dt><span class="seeLabel">projects:</span>
                    {{each(j,group) projects}}
                    <dd>${group.pro_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if issues.length >= 1}}
                    <dt><span class="seeLabel">issues:</span>
                    {{each(j,group) issues}}
                    <dd>${group.issue_tittle}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                </dl>
            </li>
         </ul>
         </li>
         </ul>
</script>

<script type="text/x-jquery-tmpl" id="labelTemplate">
        <label>
            <input type="checkbox" value="${name}" id="label-${name}" onclick="labelCheckClick('${name}')" checked="checked">
            <label><span class='label' style='background-color:${color}'>${name}</span></label>
        </label>
</script>
<!--搜索框-->
<div class="main-title">
    <div class="text-center">BigGraphSearch</div>
    <div class="input-jump center-block">
        <div class="col-lg">
            <div class="input-group">
                <select type="text" class="list-select" id="list-select">
                    <option value="0">
                        which method clone_from={android_ads:com.google.ads.rewardedvideoexample.MainActivity.onCreate} concept={dash board}
                    </option>
                    <option value="1">
                        which issue has_solve={0} concept={drop-down refresh}
                    </option>
                    <option value="2">
                        which reporter commit most concept={dash board}
                    </option>
                </select>
                <input type="text" class="name item-width list-name-for-select" id="list-name-for-select">
                <!--datalist新的HTMl5标签，只支持谷歌浏览器-->
                <!--<input id="search_input" type="text" autocomplete="on" class="form-control " onkeydown="keyup_submit(event)"-->
                <!--placeholder="input" list="ide">-->
                <!--<datalist  id="ide" >-->
                <!--<option value="which method clone_from={android_ads:com.google.ads.rewardedvideoexample.MainActivity.onCreate} concept={dash board}" />-->
                <!--<option value="which issue has_solve={0} concept={drop-down refresh}" />-->
                <!--<option value="which reporter commit most concept={dash board}" />-->
                <!--</datalist>-->
                <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="bt1" onclick="jumpClick()">SEARCH
                        </button>
                </span>
            </div>
        </div><!-- /.col-lg-6 -->
    </div>
</div>
<div id="search_select">

</div>
<!--搜索结果展示，左边文本40%，右边KG60%-->
<div class="showGroup" style="display: none">
    <div id="Graph">
        <div id="labelProperty">
            <div id="labelList">
            </div>
        </div>
        <div id="GraphContainer">
        </div>
    </div>
    <div id="searchresult">
    </div>
</div>
<div id="flowPanel"></div>
<script>
    var listName = document.getElementById('list-name-for-select');
    document.getElementById('list-select').onchange = function(e){
        if(this.value){
            listName.value = this.options[this.selectedIndex].text;
        }else{
            listName.value = ''
        }
    };
</script>
</body>
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/main_page.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/neo4jd3.css">
<link rel="stylesheet" type="text/css" href="css/flowPanel.css">
<!-- <link rel="stylesheet" type="text/css" href="css/fonts/dejavu.css"> -->
<script src="js/generateRandomColor.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/jquery.tmplPlus.js"></script>
<script src="js/jquery.tmplPlus.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/neo4jGraph.js"></script>
<script src="js/flowPanel.js"></script>
<script src="js/main_page.js"></script>
</html>