<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HuaWeiDemoWeb</title>
</head>
<body>

<!--场景一method_search模板-->
<script id="method_search_script" type="text/x-jquery-tmpl">
     <ul class="blockList">
       <li class="blockList" >
        <ul class="blockList">
         <li class="blockList" >
           <ur>${project_name}</ur><br/>
           <ur>&nbsp&nbsp&nbsp&nbsp&nbsp${package_name}</ur><br/>
           <ur>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp${method_name}</ur><br/>
           <dl>
              {{if concepts.length >= 1}}
                 <dt><span class="seeLabel">concepts:</span>
                 <dd>
                 {{each(j,group) concepts}}
                 <dd>${group.name}</dd>
                 {{/each}}
                 </dd>
              {{else}}
              {{/if}}
              {{if clone_methods.length >= 1}}
                 <dt><span class="seeLabel">clone methods:</span>
                 {{each(j,group) clone_methods}}
                    <dd>${group.method_name}</dd>
                 {{/each}}
              {{else}}
              {{/if}}
           </dl>
         </li>
        </ul>
      </li>
    </ul>
</script>
<!--场景二issue_search模板-->
<script id="issue_search_script" type="text/x-jquery-tmpl">
        <ul class="blockList">
            <li class="blockList">
                <ul class="blockList">
                <li class="blockList">
                <dt><span class="seeLabel">${issue_tittle}</span></dt>
                {{if reporter.length >= 1}}
                    <dt><span class="seeLabel">reporter:</span>
                    {{each(j,group) reporter}}
                       ${group.reporter_name}
                    {{/each}}
                    </dt>
                {{else}}
                {{/if}}
                {{if solver.length >= 1}}
                     <dt><span class="seeLabel">solver:</span>
                    {{each(j,group) solver}}
                       <dd>${group.solver_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                <dd>${issue_body}</dd>
                <dl>
                {{if concepts.length >= 1}}
                    <dt><span class="seeLabel">concepts:</span>
                    {{each(j,group) concepts}}
                       <dd>${group.commit_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if related_project.length >= 1}}
                    <dt><span class="seeLabel">related project:</span>
                    {{each(j,group) related_project}}
                    <dd>${group.project_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if related_issue.length >= 1}}
                    <dt><span class="seeLabel">related issue:</span>
                    {{each(j,group) related_issue}}
                    <dd>${group.issue_tittle}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                </dl>
            </li>
         </ul>
        </li>
      </ul>
</script>
<!--场景三developer_search模板-->
<script id="developer_search_script" type="text/x-jquery-tmpl">
    <ul class="blockList">
            <li class="blockList">
            <ul class="blockList">
            <li class="blockList">
                <div class="block">${developer_name}</div>
                <dl>
                {{if projects.length >= 1}}
                    <dt><span class="seeLabel">projects:</span>
                    {{each(j,group) projects}}
                    <dd>${group.pro_name}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                {{if issues.length >= 1}}
                    <dt><span class="seeLabel">issues:</span>
                    {{each(j,group) issues}}
                    <dd>${group.issue_tittle}</dd>
                    {{/each}}
                {{else}}
                {{/if}}
                </dl>
            </li>
         </ul>
         </li>
         </ul>
</script>
<!--KG颜色图标-->
<script type="text/x-jquery-tmpl" id="labelTemplate">
        <label>
            <input type="checkbox" value="${name}" id="label-${name}" onclick="labelCheckClick('${name}')" checked="checked">
            <label><span class='label' style='background-color:${color}'>${name}</span></label>
        </label>
</script>
<!--三种查询条件-->
<script id="api_concept_bar_script" type="text/x-jquery-tmpl">
    <div class="float for1">
        <ul class="clearfix">
        <li>clone_from:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>related_developer:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>same_common_api:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>from_project:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>concept:</li>
        <li></li>
        </ul>
    </div>
</script>
<script id="api_concept_cat_subcont_bar_script" type="text/x-jquery-tmpl">
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_clone(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_developer(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_CommonAPISearch(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_project(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_ConceptSearch(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
</script>
<script id="issue_bar_script" type="text/x-jquery-tmpl">
    <div class="float for1">
        <ul class="clearfix">
        <li>concept:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>solver:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>reporter:</li>
        <li></li>
        </ul>
    </div>
</script>
<script id="issue_cat_subcont_bar_script" type="text/x-jquery-tmpl">
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_ConceptSearch(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_developer(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
    <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_developer(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
</script>
<script id="developer_bar_script" type="text/x-jquery-tmpl">
    <div class="float for1">
        <ul class="clearfix">
        <li>concept:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>solve_issue:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>report_issue:</li>
        <li></li>
        </ul>
    </div>
    <div class="float for1">
        <ul class="clearfix">
        <li>joint_project:</li>
        <li></li>
        </ul>
    </div>
</script>
<script id="developer_cat_subcont_bar_script" type="text/x-jquery-tmpl">
   <div class="cat_sublist">
        <!-- 浮层左边列表 -->
        <div class="fore1">
            <div class="fore_list">
                <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                <button class="btn btn-primary" type="button"  onclick="search_criteria_ConceptSearch(this)">SEARCH</button>
                <hr>
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>
</script>


<!--搜索框-->
<!--<div class="main-title">-->
    <!--<div class="text-center">HuaWeiDemo</div>-->
    <!--<div class="input-jump center-block">-->
        <!--<div class="col-lg">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-btn">&lt;!&ndash; /场景选择下拉菜单、搜索框和搜索button&ndash;&gt;-->
                    <!--<select class="form-control btn btn-primary" id="search_type">-->
                    <!--<option value="1" selected>API Concept</option>-->
                    <!--<option value="2">Issue</option>-->
                    <!--<option value="3">Developer</option>-->
                    <!--</select>-->
                <!--</span>-->
                <!--<input type="text" autocomplete="on" class="form-control" onkeydown="keyup_submit(event)"-->
                       <!--placeholder="choose the right type on the left side ">-->
                <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-primary" type="button" id="bt1" onclick="jumpClick()">SEARCH-->
                        <!--</button>-->
                <!--</span>-->
            <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--<div id="search_select">-->
    <!---->
<!--</div>-->
<!--搜索结果展示，左边文本40%，右边KG60%-->
<!--<div class="showGroup" style="display: none">-->
<!--<div id="Graph">-->
<!--<div id="labelProperty">-->
<!--<div id="labelList">-->
<!--</div>-->
<!--</div>-->
<!--<div id="GraphContainer">-->
<!--</div>-->
<!--</div>-->
<!--<div id="searchresult">-->
<!--</div>-->
<!--</div>-->
<div id="nav">
    <ul class="w">
        <!--<li class="active"><a href="#">首页</a></li>-->
        <li class="active" onclick="navigation_bar_style_change(this,0)">API Concept</li>
        <li onclick="navigation_bar_style_change(this,1)">Issue Search</li>
        <li onclick="navigation_bar_style_change(this,2)">Developer Search</li>
    </ul>
</div>
<div id="show_page">
    <div id="left_page" class="w clearfix " style="position:absolute;">
        <!-- banner上面浮层 -->
        <div class="cat_wrap">
            <div class="cat_header">
                <h3 class="cat_title">查询条件</h3>
                <ul class="clearfix" id="name_clearfix">
                    <li>name:</li>
                    <li><input type="text" autocomplete="on"  onkeydown="keyup_submit(event)"></li>
                </ul>
                <div class="cat_list">
                    <div class="float for1">
                        <ul class="clearfix">
                            <li>clone_from:</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="float for1">
                        <ul class="clearfix">
                            <li>related_developer:</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="float for1">
                        <ul class="clearfix">
                            <li>same_common_api:</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="float for1">
                        <ul class="clearfix">
                            <li>from_project:</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="float for1">
                        <ul class="clearfix">
                            <li>concept:</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <button id="search_btn" onclick="click_for_result()">search</button>
            </div>
            <!-- banner浮层滑动显示弹框 -->
            <div class="cat_subcont">
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                                <button class="btn btn-primary" type="button"  onclick="search_criteria_clone(this)">SEARCH
                                </button>
                            <hr>
                            <ul class="clearfix">
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云平台》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《大数据》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《虚拟化技术》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                            <button class="btn btn-primary" type="button"  onclick="search_criteria_developer(this)">SEARCH
                            </button>
                            <hr>
                            <ul class="clearfix">
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云平台》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《大数据》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《虚拟化技术》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                            <button class="btn btn-primary" type="button"  onclick="search_criteria_CommonAPISearch(this)">SEARCH
                            </button>
                            <hr>
                            <ul class="clearfix">
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云平台》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《大数据》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《虚拟化技术》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <button class="btn btn-primary" type="button"  onclick="search_criteria_project(this)">SEARCH
                            </button>
                            <hr>
                            <ul class="clearfix">
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云平台》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《大数据》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《虚拟化技术》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <input type="text" autocomplete="on" onkeydown="keyup_submit(event)">
                            <button class="btn btn-primary" type="button"  onclick="search_criteria_ConceptSearch(this)">SEARCH
                            </button>
                            <hr>
                            <ul class="clearfix">
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云平台》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《大数据》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《虚拟化技术》</a></li>-->
                                <!--<li><a href="#" onclick="add_to_the_left(this)">《云计算基础架构》</a></li>-->
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--<div id="right_page"  class="showGroup">-->
    <div id="right_page"  class="showGroup" style="display: none">
        <div id="Graph">
            <div id="labelProperty">
                <div id="labelList">
                </div>
            </div>
            <div id="GraphContainer">
            </div>
        </div>
        <div id="searchresult">
        </div>
    </div>
</div>

</body>
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/main_page.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/neo4jd3.css">

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
<script src="js/jquery-1.10.2.js"></script>
<script src="js/index.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="css/fonts/dejavu.css"> -->

<script src="js/generateRandomColor.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/jquery.tmplPlus.js"></script>
<script src="js/jquery.tmplPlus.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/neo4jGraph.js"></script>
<script src="js/flowPanel.js"></script>
<script src="js/main_page.js"></script>
</html>